<!doctype html>
<html translate="no">{% set title = 'Sable v2 LDM' %}
    <head>
        <title>{{ title }}</title>
        <meta name=google content=notranslate>
        <meta name=viewport content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="data:,">
        <link rel="stylesheet" href="{{ url_for('static', filename='site.css') }}">
        <script src="{{ url_for('static', filename='site.js') }}"></script>
    </head>
    <body>
        <div id="topwrap">
            <div id="top">{% block top %}
                <h1>{{ title }}</h1>
                <h2>Lido Weight and Balance Middleware</h2>
                <p>Sable to Lido message using LDM instead of LSH.</p>
            {% endblock top %}</div>
        </div>
        <div id="mainwrap">
            <div id="main">
                {% block main %}{% endblock %}
            </div>
        </div>
    </body>
</html>
