{% extends "base.html" %}


{% block top %}
{{ super() }}
<div>
    <a href="{{ url_for('demo.index') }}">Back to email list</a>
</div>
{% endblock top %}


{% macro render_list(l) %}
<span>[</span><ul class="data">{% for item in l %}<li>{{ item|repr }},</li>{% endfor %}</ul><span>]</span>
{% endmacro %}


{% macro render_dict(d) %}
<span>{</span>
<div class="g2">{% for key in d|sort %}
    <div>{{ key|repr }}:</div>{% set value = d[key] %}
    <div>{% if value is iterable and value is not string and value is not mapping  %}{{ render_list(value) }}{% else %}{{ value|repr }}{% endif %},</div>{% endfor %}
</div>
<span>}</span>
{% endmacro %}


{% macro render_step(has_error, error_text, value, id) %}
<div class="step{% if has_error %} error{% endif %}">
    {% if has_error %}
        <pre>{{ error_text }}</pre>
    {% else %}
        {% if kwargs.toggle_button %}<button class="toggle" data-target="{{ id }}">Toggle</button>{% endif %}
        <div id="{{ id }}" class="data"{% if kwargs.toggle_button %} style="display: none"{% endif %}>
        <pre>{% if kwargs.render_dict %}{{ value|pformat }}{% else %}{{ value }}{% endif %}</div></pre>
    {% endif %}
</div>
{% endmacro %}


{% block main %}
<div class="sideby">
    <div>
        <h2>Email Source</h2>
        <h4>Date</h4>
        <pre>{{ message.date }}</pre>
        <h4>Subject</h4>
        <pre>{{ message.subject }}</pre>
        <h4>Body</h4>
        <pre>{{ message.text }}</pre>
        <h4>Attachments</h4>
        <ul class="nude">{% for attachment in message.attachments %}
            <li>
                <pre>{{ attachment.filename }} </pre>
                <pre>{{ attachment.payload.decode() }}</pre>
            </li>{% endfor %}
        </ul>
    </div>
    <div>
        <h2>Middleware Processing</h2>
        <div>
            <h4>1. Extract</h4>
            <p>Text pulled from original message.</p>
            {{ render_step(extract_error, extract, extract, "extract", render_dict=True, toggle_button=True) }}
        </div>
        <div>
            <h4>2. Schema</h4>
            <p>Text to data types and other processing like ICAO/IATA conversion.</p>
            {{ render_step(schema_error, schema, schema, "schema", render_dict=True, toggle_button=True) }}
        </div>
        <div>
            <h4>3. LIDO Message</h4>
            {{ render_step(render_lido_error, rendered_lido_message, lido, "lido") }}
        </div>
    </div>
</div>
{% endblock %}
