chardet
flask
flask-login
flask-sqlalchemy
flask-wtf
fs
imap_tools
jinja2
lxml
marshmallow
marshmallow-sqlalchemy
msal
oracledb
passlib[argon2]
psycopg
requests
sqlalchemy
sqlparse
wtforms
wtforms-sqlalchemy
