html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: arial;
    display: flex;
    justify-content: center;
}

label {
    display: inline-block;
}

input:not([type=radio]),
label:not([for ^= "airline_iata_code"]) {
    padding: .25rem .5rem;
    /*
    margin: .25rem .5rem;
    */
    width: 100%;
}

input[type=submit] {
    padding: .75rem;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 1rem;
}

ul#airline_iata_code {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.buttons {
    margin-top: 2rem;
}
