{% extends "base.html" %}


{% block top %}
{{ super() }}
<div>
    <a href="{{ url_for('demo.index') }}">Back to email list</a>
</div>
{% endblock top %}


{% macro render_list(l) %}
<span>[</span><ul class="data">{% for item in l %}<li>{{ item|repr }},</li>{% endfor %}</ul><span>]</span>
{% endmacro %}


{% macro render_dict(d) %}
<span>{</span>
<div class="g2">{% for key in d|sort %}
    <div>{{ key|repr }}:</div>{% set value = d[key] %}
    <div>{% if value is iterable and value is not string and value is not mapping  %}{{ render_list(value) }}{% else %}{{ value|repr }}{% endif %},</div>{% endfor %}
</div>
<span>}</span>
{% endmacro %}


{% block main %}
<div class="sideby">
    <div>
        <h2>Email Source</h2>
        <h4>Date</h4>
        <pre>{{ message.date }}</pre>
        <h4>Subject</h4>
        <pre>{{ message.subject }}</pre>
        <h4>Text</h4>
        <pre>{{ message.text }}</pre>
        <h4>Attachments</h4>
        <ul class="nude">{% for attachment in message.attachments %}
            <li>
                <pre>{{ attachment.filename }} </pre>
                <pre>{{ attachment.payload.decode() }}</pre>
            </li>{% endfor %}
        </ul>
    </div>
    <div>
        <div>
            <h2>1. Extract</h2>
            <p>Text pulled from original message.</p>
            {% if extract_error %}<pre>{{ extract }}</pre>{% else %}
            <button class="toggle" data-target="extract">Toggle</button>
            <div id="extract" class="data" style="display: none">{{ render_dict(extract) }}</div>{% endif %}
        </div>
        <div>
            <h2>2. Schema</h2>
            <p>Text to data types and other processing like ICAO/IATA conversion.</p>
            <button class="toggle" data-target="schema">Toggle</button>
            <div id="schema" class="data" style="display: none">{{ render_dict(schema) }}</div>
        </div>
        <div>
            <h2>3. LIDO Message</h2>
            <p>Data to Lido message. Length: {{ lido|string|length }}</p>
            <pre>{{ lido|string }}</pre>
        </div>
    </div>
</div>
{% endblock %}
