{% extends "base.html" %}


{% block top %}
{{ super() }}
<div>
    <a href="{{ url_for('demo.index') }}">Back to email list</a>
</div>
{% endblock top %}


{% macro render_step(step) %}<div>
{% set id = step.name.lower() %}
{% if kwargs.toggle_button %}<button data-target="{{ id }}">Toggle</button>{% endif %}
<pre id="{{ id }}" class="value"{% if kwargs.toggle_button %} style="display: none;"{% endif %}>{% if step.is_error %}{{ step.traceback_message }}{% else %}{{ step.html_text }}{% endif %}</pre>
</div>{% endmacro %}


{% block main %}
<div class="sideby">
    <div>
        <h2>Email Source</h2>
        <h4>Date</h4>
        <pre>{{ message.date }}</pre>
        <h4>Subject</h4>
        <pre>{{ message.subject }}</pre>
        <h4>Text</h4>
        <pre>{{ message.text }}</pre>
        <h4>Attachments</h4>
        <ul class="nude">{% for attachment in message.attachments %}
            <li>
                <pre>{{ attachment.filename }} </pre>
            </li>{% endfor %}
        </ul>
    </div>
    <div>
        <h2>Lido Processing</h2>
        {% for step in steps %}
        <div>
            <h2>{{ loop.index }}. {{ step.name }}</h2>
            {{ render_step(step, toggle_button=not loop.last) }}
        </div>
    {% endfor %}</div>
</div>
{% endblock %}
