{% extends "base.html" %}

{% block main %}
<p>Select a file click Submit to produce email text.</p>
<p>The seat field for crew members will appear as "None".</p>
<p>Ignoring crew members can avoid key errors, where the airline in the XML file is not configured.</p>
<form action="{{ url_for('emailtext') }}" enctype="multipart/form-data" method="post">
    <div class="inputgroup">
        <label for="xmlfile" title="Operational Flight Plan XML file">XML</label>
        <input type="file" id="xmlfile" name="xmlfile" required>
    </div>
    <div class="inputgroup">
        <input type="checkbox" id=ignorecrew name=ignorecrew>
        <label for="ignorecrew" title="Avoid hitting database to get crew members">Ignore Crew Members</label>
    </div>
    <div class="inputgroup">
        <input type="submit" value="Submit">
    </div>
</form>{% endblock %}
