<!doctype html>
<html translate="no">{% set title = 'Lido / CLP' %}
    <head>{% block head %}
        <title>{{ title }}</title>
        <meta name=google content=notranslate>
        <meta name=viewport content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="data:,">
        <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
        <script src="{{ url_for('static', filename='site.js') }}"></script>
    {% endblock %}</head>
    <body>{% block body %}
        <main>
            <h1>Central Load Plan Middleware</h1>
            {% block main %}{% endblock main %}
        </main>
    {% endblock body %}</body>
</html>
