
{% macro render_field(field) %}
{% set f, l = field, field.label %}
{% if field.type == 'BooleanField' %}{% set f, l = l, f %}{% endif %}
<div>{{ l }}</div>
<div>
    {{ f }}
    {% if field.errors %}
        <ul>{% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}</ul>
    {% endif %}
</div>
{% endmacro %}


{% macro render_form(form) %}
<form action="{{ kwargs.action or url_for(request.endpoint, **request.view_args) }}"{% if kwargs.enctype %} enctype="{{ kwargs.enctype }}"{% endif %} method="{{ kwargs.method or 'POST' }}">
    {% for field in form|rejectattr('type', 'in', ['SubmitField']) %}{{ render_field(field) }}{% endfor %}
    <div class="inputgroup">
        {% for field in form|selectattr('type', 'in', ['SubmitField']) %}{{ field }}{% endfor %}
    </div>
</form>
{% endmacro %}


{% macro render_form2(form) %}
    <div class="grid-2">
{% for field in form | rejectattr('type', 'in', ['SubmitField']) %}
{{ render_field(field) }}
{% endfor %}
    </div>
<div class="buttons">
    {% for field in form|selectattr('type', 'in', ['SubmitField']) %}{{ field }}{% endfor %}
</div>
{% endmacro %}


{% macro render_by_type(obj) %}
{% if obj is iterable and obj is not string and obj is not mapping %}
{# list, tuple, ... #}<code>[</code><ul>{{ render_iterable(obj) }}</ul><code>]</code>{% elif obj is mapping %}
{# dict, ... #}<code>{</code><dl class="literal">{{ render_dict(obj) }}</dl><code>}</code>{% elif obj is string %}<code>'{{ obj }}'</code>{% else %}{{ obj }}{% endif %}
{% endmacro %}


{% macro render_dict(d) %}
{% for key, val in d.items()|sort %}
    <dt class="data">{{ render_by_type(key) }}</dt>
    <dd class="data">{{ render_by_type(val) }}</dd>{% endfor %}
{% endmacro %}


{% macro render_iterable(iterable) %}
{% for item in iterable %}<li>{{ render_by_type(item) }}</li>{% endfor %}
{% endmacro %}
