html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1e1e1e;
        color: white;
    }
}

a:link {
    color: red;
}

a:visited {
    color: green;
}

a:hover {
    color: hotpink;
}

a:active {
    color: White;
}

[data-href]:hover {
    cursor: pointer;
    background-color: #111;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

pre {
    font-size: 1rem;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid white;
}

th, td {
    padding: .7rem;
}

code {
    font-size: 1rem;
}

ul.literal,
dl.literal,
dl.literal > dd {
    margin-left: 1rem;
}

ul.literal > li::after,
dl.literal > dd::after {
    /* lists and dicts */
    content: ",";
}

dl.literal > dt::after {
    content: ":";
}

label {
    display: inline-block;
}

input:not([type=radio]),
label:not([for ^= "airline_iata_code-"]) {
    padding: .25rem .5rem;
    width: 100%;
}

input[type=submit] {
    padding: .75rem;
}

.flashes-container {
    display: flex;
    justify-content: center;
}

.rendered-message {
    /* as output from email.render */
    border: 1px solid white;
    padding: 1rem;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 1rem;
}

.buttons {
    display: flex;
    margin-top: 2rem;
}

.data {
    font-family: monospace;
    font-size: 1rem;
}

.flight-info {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.flight-info > * {
    margin-left: 1rem;
    margin-right: 1rem;
}

ul.errors li {
    background: red;
    color: white;
}

dl.key-value {
    display: grid;
    grid-template-columns: max-content 1fr;
}

dl.key-value > dt {
    font-weight: 600;
}

dl.key-value > dd {
}

.boolean-yes {
    background: green;
}

form {
    max-width: 500px;
}
