html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: arial;
    display: flex;
    justify-content: center;
    background: #333;
    color: white;
}

a:link {
    color: red;
}

a:visited {
    color: green;
}

a:hover {
    color: hotpink;
}

a:active {
    color: White;
}

[data-href]:hover {
    cursor: pointer;
    background-color: #111;
}

pre {
    font-size: 1rem;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid white;
}

th, td {
    padding: .7rem;
}

dl.literal > dt::after {
    content: ":";
}

label {
    display: inline-block;
}

input:not([type=radio]),
label:not([for ^= "airline_iata_code-"]) {
    padding: .25rem .5rem;
    width: 100%;
}

input[type=submit] {
    padding: .75rem;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 1rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.buttons {
    margin-top: 2rem;
}

.data {
    font-family: monospace;
    font-size: 1rem;
}

.flight-info {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.flight-info > * {
    margin-left: 1rem;
    margin-right: 1rem;
}
