{% extends "base.html" %}

{% block top %}
{{ super() }}
<div>
    <a href="{{ url_for('demo.index') }}">Back to email list</a>
</div>
{% endblock top %}

{% block main %}
<div class="sideby">
    <div>
        <h2>Original Text</h2>
        <pre>{{ demo.original_text }}</pre>
    </div>
    <div>
        <div>
            <h2>1. Extract</h2>
            <p>Text pulled from original message.</p>
            <pre>{{ demo.extracted }}</pre>
        </div>
        <div>
            <h2>2. Schema</h2>
            <p>Text to data types and other processing like ICAO/IATA conversion.</p>
            <pre>{{ demo.schemafied }}</pre>
        </div>
        <div>
            <h2>3. LIDO Message</h2>
            <p>Data to Lido message.</p>
            <pre>{{ demo.lidomessage }}</pre>
        </div>
    </div>
</div>
{% endblock %}
