{% extends "crewmember/base.html" %}


{% from "render.html" import render_form2 %}


{% block main %}
<ul>{% for text, data in interesting_data %}
    <li><a href="{{ url_for('crewmember.query', **data) }}">{{ text }}</a></li>{% endfor %}
</ul>
<form action="{{ url_for('crewmember.query') }}" method="POST">
    {{ render_form2(form) }}
</form>
{% if result %}
<table>
    <thead>
        <tr>
            <th>Last</th>
            <th>First</th>
            <th>Employee #</th>
            <th>Seat</th>
            <th>Order</th>
        </tr>
    <thead>
    <tbody>
        {% for crewmember in result.crewmembers|sort(attribute='seat_order') %}<tr>
            <td>{{ crewmember.last_name }}</td>
            <td>{{ crewmember.first_name }}</td>
            <td>{{ crewmember.employee_number }}</td>
            <td>{{ crewmember.seat }}</td>
            <td>{{ crewmember.seat_order }}</td>
        </tr>{% endfor %}
    </tbody>
</table>
{% else %}
<h2>No results</h2>
{% endif %}
{% endblock main %}
