{% extends "base.html" %}


{% block top %}
{{ super() }}
<a href="{{ url_for('demo.list') }}">Back to email listing</a>
{% endblock top %}


{% macro render_toggle_button(target_id) %}
<button data-target="{{ target_id }}">Toggle</button>
{% endmacro %}


{% macro render_toggled_pre(id, data) %}
<pre id="{{ id }}" class="value" style="display: none;">{{ data | pformat }}</pre>
{% endmacro %}


{% macro render_data(id, data) %}
{{ render_toggle_button(id) }}
{{ render_toggled_pre(id, data) }}
{% endmacro %}


{% block main %}
<div class="sideby">
    <div>
        <h2>Email Source</h2>
        <h4>Date</h4>
        <pre class="value">{{ result.message.date }}</pre>
        <h4>Subject</h4>
        <pre class="value">{{ result.message.subject }}</pre>
        <h4>Body</h4>
        <pre class="value">{{ result.message.text }}</pre>
        <h4>Attachments</h4>
        <ul class="nude">{% for attachment in result.message.attachments %}
            <li>
                <pre class="value">{{ attachment.filename }} </pre>
                <pre class="value">{{ attachment.payload.decode() }}</pre>
            </li>{% endfor %}
        </ul>
    </div>
    <div>
        <h2>Middleware Processing</h2>
        <div>
            <h4>1. Extract</h4>
            {{ render_data("extract", result.extract_data) }}
        </div>
        <div>
            <h4>2. Schema</h4>
            {{ render_data("schema", result.schema_data) }}
        </div>
        <div>
            <h4>3. Output</h4>
            <pre class="value">{{ result.output }}</pre>
        </div>
    </div>
</div>
{% endblock %}
