{% extends "base.html" %}


{% block main %}
<div class="sideby">
    <div>
        <h2>Email Source</h2>
        <h4>Date</h4>
        <pre class="value">{{ result.message.date }}</pre>
        <h4>Subject</h4>
        <pre class="value">{{ result.message.subject }}</pre>
        <h4>Body</h4>
        <pre class="value">{{ result.message.text }}</pre>
        <h4>Attachments</h4>
        <ul class="nude">{% for attachment in result.message.attachments %}
            <li>
                <pre class="value">{{ attachment.filename }} </pre>
                <pre class="value">{{ attachment.payload.decode() }}</pre>
            </li>{% endfor %}
        </ul>
    </div>
    <div>
        <h2>Middleware Processing</h2>
        <div>
            <h4>1. Extract</h4>
            <pre>{{ result.extract_data | pformat }}</pre>
        </div>
        <div>
            <h4>2. Schema</h4>
        </div>
        <div>
            <h4>3. LIDO Message</h4>
        </div>
    </div>
</div>
{% endblock %}
